.mycars {
  background: url("https://wallpapercrafter.com/desktop/393-mercedes-benz-gle-350d-mercedes-benz-car-front-view-4k.jpg");
  background-size: cover;
  width: 1536px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
