.container{
    width: 96%;
    margin: 0 auto;
}

body{
    background: url(https://www.topgear.com/sites/default/files/2023/12/1%20Mercedes%20GLE.jpg) no-repeat top;
    background-size: cover;
    transition: .6s;
}
::-webkit-scrollbar{
    width: 0;
}